apiVersion: v1
kind: Secret
metadata:
  name: database
type: Opaque
stringData:
  AUTH_MONGO_URL: AUTH_MONGO_URL_VALUE
  SANDBOX_MONGO_URL: SANDBOX_MONGO_URL_VALUE
  AI_MONGO_URL: AI_MONGO_URL_VALUE
  REDIS_URL: redis://default
  RABBITMQ_URL: RABBITMQ_URL_VALUE

---

apiVersion: v1
kind: Secret
metadata:
  name: jwt
type: Opaque
stringData:
  JWT_SECRET: JWT_SECRET_VALUE

---

apiVersion: v1
kind: Secret
metadata:
  name: google
type: Opaque
stringData:
  GOOGLE_CLIENT_ID: GOOGLE_CLIENT_ID_VALUE
  GOOGLE_CLIENT_SECRET: GOOGLE_CLIENT_SECRET_VALUE
  GOOGLE_CALLBACK_URL: GOOGLE_CALLBACK_URL_VALUE
  CLIENT_URL: CLIENT_URL_VALUE
  EMAIL_USER: EMAIL_USER_VALUE

---

apiVersion: v1
kind: Secret
metadata:
  name: ai-secret
type: Opaque
stringData:
  MISTRAL_API_KEY: MISTRAL_API_KEY_VALUE

---

apiVersion: v1
kind: Secret
metadata:
  name: aws
type: Opaque
stringData:
  AWS_REGION: ap-southeast-1
  AWS_ACCESS_KEY_ID: AWS_ACCESS_KEY_ID_VALUE
  AWS_SECRET_ACCESS_KEY: AWS_SECRET_ACCESS_KEY_VALUE







    